h1
{
  color: red;
  font-size: 40px;
  font-family:monospace;
}
h2
{
  color: blue;
  font-size: 50px;
}
a
{
  text-decoration: none;
  font-weight: bolder;
}
ul
{
  list-style-image:url(http://www.earthfirst.org/images/earthfirst_logos/earthfist3.gif);
}
