h1 
{
    font-size: 45px;
    margin: auto;
    color: aquamarine;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li 
{
    border-width: 3px;
    border-style: double;
    border-color: green;
    border-radius: 5px;
    width: 40%;
    margin: 0.5em;
}
 
.left 
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right
{
    float: right;
    margin-left: 2em;
}

